In [1]:
#Write a program to accept percentage from the user and diply the grade according to the following criteria:

In [2]:
marks = int(input("Enter your marks: "))
if marks>90:
    print("Grade: A")
elif marks>80 and marks<=90:
    print("Grade: B")
elif  marks>=60 and marks<=80:
    print("Grade: C")
else:
    print("Grade: D")

Enter your marks:  99

Grade: A

In [3]:
#Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

In [4]:
cost_price = int(input("The cost price of a bike:"))
if cost_price>100000:
    print("Tax : 15%")
elif cost_price>50000 and cost_price <= 100000:
    print("Tax : 10%")
else:
    print("Tax : 5%")

The cost price of a bike: 40000

Tax : 5%

In [5]:
#Accept any city from the user and display monuments of that city

In [6]:
city = input("Enter any city : ")
if city == "Delhi":
    print("Monuments : Red Fort")
elif city == "Agra":
    print("Monuments : Taj Mahal")
elif city == "Jaipur":
    print("Monuments : Jal Mahal")
else:
    print("this city is not in listed")

Enter any city :  Delhi

Monuments : Red Fort

In [7]:
#Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [8]:
for i in range(1,11):
    if i % 3 == 0:
        print(i)

3
6
9

In [9]:
#Why and when to use while loop in python give a detailed description with example

In [10]:
#While loop: we should use a while loop when we need to repeat a block of code until a certain condition

In [11]:
#initialize the variable
i = 0 
#while loop from 0 to 5
while i < 5: 
    print(i) 
    i += 1

0
1
2
3
4

In [12]:
#Use nested while loop to print 3 different pattern.

In [13]:
i = 1 
while i <= 5: 
    j = 1 
    while j <= i: 
    	print(j, end='') 
    	j += 1
    print("")
    i += 1

1
12
123
1234
12345

In [14]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print ("*",end='')
        j +=1
    print("")
    i +=1

*
**
***
****
*****

In [15]:
i = 5 
while i >= 1: 
    j = 1 
    while j <= i: 
        print('*', end='') 
        j += 1 
    print() 
    i -= 1

*****
****
***
**
*

In [16]:
i = 1
while i <=5:
    j = 1
    while j<=i:
        print(i, end="")
        j +=1
    print()
    i +=1

1
22
333
4444
55555

In [17]:
#Reverse a while loop to display numbers from 10 to 1

In [18]:
num = 10
while num >=1:
    print(num)
    num -=1

10
9
8
7
6
5
4
3
2
1